IQAIR_API_KEY=replace_with_your_api_key
IQAIR_BASE_URL=confirm_https_base_url
IQAIR_CITY=confirm_with_iqair
IQAIR_STATE=confirm_with_iqair
IQAIR_COUNTRY=confirm_with_iqair
IQAIR_TIMEOUT_SECONDS=confirm_positive_timeout
