IQAIR_API_KEY=replace_with_your_api_key
IQAIR_BASE_URL=https://api.airvisual.com/v2
IQAIR_CITY=confirm_with_iqair
IQAIR_STATE=confirm_with_iqair
IQAIR_COUNTRY=confirm_with_iqair
IQAIR_TIMEOUT_SECONDS=30
